<style>
  table, th, td {
    border: 0.1px solid black;
  }
  th, td{
    padding: 10px;
  }
  .info{
      text-align:center;
  }
  .m-top{
    margin-top: 2rem;
  }
  .f-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .size-pic{
    width:300px;
    height:380px;
  }
</style>
<h1 class = "info m-top"> My Information </h1>
<div class = "f-center m-top">
    <img class = "size-pic" src = "mypic.jpg">
</div>
<p class = "info m-top">I like Programming!!!</p>
<table class = "m-top" style = "text-align:center;margin-left:auto;margin-right:auto;">
    <tr style = "font-size: 30px">
        <th>
            Name
        </th>
        <th>
            ID student number
        </th>
        <th>
            University
        </th>
    </tr>
    <tr style = "font-size: 20px; font-weight:300;">
        <td>
            Natchapon Chitturongaporn
        </td>
        <td>
            6330148721
        </td>
        <td>
            Chulalongkorn
        </td>
    </tr>
</table>

